    :root {
      --color-scrollbar: 40,40,42;
      --font-body-size-mobile: 1.5rem;
      --font-body-size: 1.6rem;

      --font-body-scale: 1.0;
      --font-heading-scale: 18;
      --font-heading-case: uppercase;

      --heading-h0-size: 100.98px;
      --heading-h1-size: 75.762px;
      --heading-h2-size: 56.826px;
      --heading-h3-size: 42.642px;
      --heading-h4-size: 31.986px;
      --heading-h5-size: 23.994px;
      --heading-h6-size: 18px;

      --heading-h0-tb-size: 61.04px;
      --heading-h1-tb-size: 48.832px;
      --heading-h2-tb-size: 39.056px;
      --heading-h3-tb-size: 31.248px;
      --heading-h4-tb-size: 25.008px;
      --heading-h5-tb-size: 20.0px;
      --heading-h6-tb-size: 16px;

      --heading-h0-mb-size: 32.432px;
      --heading-h1-mb-size: 28.832px;
      --heading-h2-mb-size: 25.632px;
      --heading-h3-mb-size: 22.784px;
      --heading-h4-mb-size: 20.256px;
      --heading-h5-mb-size: 18.0px;
      --heading-h6-mb-size: 16px;


      --page-width: 160rem;
    }
/*
    ::-webkit-scrollbar-corner {
      background: none;
    }

    ::-webkit-scrollbar-track {
      background-color: transparent;
    }

    ::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      transition: 1s;
    }

    .overflow-scrollbar::-webkit-scrollbar-track {
      background: rgba(var(--color-scrollbar), .04);
      border-radius: 5px;
    }

    .overflow-scrollbar::-webkit-scrollbar {
      width: 3px;
      height: 3px;
    }
 */


    html {
      height: 100%;
    }

    body {
      min-height: 100%;
      margin: 0;
      letter-spacing: 0.06rem;
      line-height: normal;
    }

    .no-js .shopify-section-group-popups-group {
      display: none;
    }


    /* base */

    .no-js:not(html) {
      display: none !important;
    }

    html.no-js .no-js:not(html) {
      display: block !important;
    }

    html.no-js .no-js-inline {
      display: inline-block !important;
    }

    html.no-js .no-js-hidden {
      display: none !important;
    }

    .list-unstyled {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .visually-hidden {
      position: absolute !important;
      overflow: hidden;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
      clip: rect(0 0 0 0);
      word-wrap: normal !important;
    }

    .overflow-hidden {
      overflow: hidden;
    }
    .page-width {
      max-width: var(--page-width);
      margin: 0 auto;
      padding: 0 1.5rem;

      @media screen and (min-width: 768px) {
        padding: 0 3rem;
      }
    }

    .page-width-desktop {
      padding: 0;
      margin: 0 auto;

    }

    .ratio:before {
      content: "";
      width: 0;
      height: 0;
      padding-bottom: var(--ratio-percent);
    }
